flows.json
[{"id":"a225d10a63682521","type":"tab","label":"Tracker","disabled":false,"info":"","env":[]},{"id":"6b5a37f76585e193","type":"inject","z":"a225d10a63682521","d":true,"name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"str","x":450,"y":260,"wires":[["548915f2e16385b1"]]},{"id":"f4e1fc4877177ce1","type":"debug","z":"a225d10a63682521","name":"debug 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1100,"y":200,"wires":[]},{"id":"0c462fae5e07d1a4","type":"http in","z":"a225d10a63682521","name":"","url":"tracker","method":"get","upload":false,"swaggerDoc":"","x":200,"y":200,"wires":[["e03822e52ab709cb"]]},{"id":"82d7b054180b52c9","type":"http response","z":"a225d10a63682521","name":"","statusCode":"","headers":{},"x":810,"y":180,"wires":[]},{"id":"a9f4cbcf4824beb0","type":"function","z":"a225d10a63682521","name":"get co-ordinates","func":"const buffer = new ArrayBuffer(10);\nconst view = new DataView(buffer);\nview.setFloat32(0, msg.payload.readFloatLE(0));\nview.setFloat32(4, msg.payload.readFloatLE(4));\nview.setInt16(8, msg.payload.readInt16LE(8));\nmsg.latitude = view.getFloat32(0);\nmsg.longditude = view.getFloat32(4);\nmsg.rssi = view.getInt16(8);\nflow.set('latitude', msg.latitude);\nflow.set('longditude', msg.longditude);\nflow.set('rssi', msg.rssi)\nmsg.topic = \"gps\";\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":900,"y":240,"wires":[["f4e1fc4877177ce1","11e367444165cf80"]]},{"id":"548915f2e16385b1","type":"tcp request","z":"a225d10a63682521","name":"","server":"192.168.0.45","port":"23","out":"sit","ret":"buffer","splitc":" ","newline":"","trim":false,"tls":"","x":680,"y":240,"wires":[["a9f4cbcf4824beb0"]]},{"id":"f2e0bc4e06f1c37b","type":"http in","z":"a225d10a63682521","name":"","url":"gps","method":"get","upload":false,"swaggerDoc":"","x":870,"y":300,"wires":[["11e367444165cf80"]]},{"id":"11e367444165cf80","type":"sse-server","z":"a225d10a63682521","name":"","event":"message","data":"","x":1110,"y":240,"wires":[]},{"id":"55bc2d5b6df187ec","type":"template","z":"a225d10a63682521","name":"tracker page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<h3 id = 'data'>\n    Latitude: 00.0000 <br>\n    Longditude: 000.0000 <br>\n    RSSI: 00 <br>\n</h3>\n\n<iframe id = 'gmap'\nwidth=\"1200\"\nheight=\"900\"\nstyle=\"border:0\"\nloading=\"lazy\"\nallowfullscreen\nsrc=\"https://www.google.com/maps/embed/v1/view?key=AIzaSyD8sJqa9sU0-4SgaKadtJH1oFGPyFse5fM\n&center={{flow.latitude}},{{flow.longditude}}\n&zoom=18\n&maptype=roadmap\n\">\n</iframe>\n\n<script>\n  var source = new EventSource(\"http://192.168.0.53:1880/endpoint/gps\");\n  source.onmessage = function(event) {\n    const latLong = JSON.parse(event.data).data;\n    const buffer = new ArrayBuffer(10);\n    const view = new DataView(buffer);\n    view.setUint8(0, latLong[3]);\n    view.setUint8(1, latLong[2]);\n    view.setUint8(2, latLong[1]);\n    view.setUint8(3, latLong[0]);\n    view.setUint8(4, latLong[7]);\n    view.setUint8(5, latLong[6]);\n    view.setUint8(6, latLong[5]);\n    view.setUint8(7, latLong[4]);\n    view.setUint8(8, latLong[8]);\n    view.setUint8(9, latLong[9]);\n    let latitude = view.getFloat32(0);\n    let longditude = view.getFloat32(4);\n    let RSSI = view.getInt16(8);\n\n    document.getElementById(\"data\").innerHTML = \"Latitude: \" + latitude.toFixed(4) + \"<br>\" + \"Longditude: \" + longditude.toFixed(4) + \"<br>\" + \"RSSI :\" + RSSI + \"<br>\";\n    document.getElementById('gmap').src = \"https://www.google.com/maps/embed/v1/view?key=AIzaSyD8sJqa9sU0-4SgaKadtJH1oFGPyFse5fM&center=\" + latitude + \",\" + longditude + \"&zoom=19&maptype=roadmap\";\n    //location.reload();\n    };\n</script>","output":"str","x":650,"y":180,"wires":[["82d7b054180b52c9"]],"info":"<iframe\r\nwidth=\"600\"\r\nheight=\"450\"\r\nstyle=\"border:0\"\r\nloading=\"lazy\"\r\nallowfullscreen\r\nsrc=\"https://www.google.com/maps/embed/v1/view?key=AIzaSyD8sJqa9sU0-4SgaKadtJH1oFGPyFse5fM\r\n&center={{flow.latitude}},{{flow.longditude}}\r\n&zoom=19\r\n&maptype=roadmap\r\n\">\r\n</iframe>"},{"id":"e03822e52ab709cb","type":"function","z":"a225d10a63682521","name":"trigger TCP connection","func":"var msg2 = {topic: \"tcp server\", payload: 1};\nmsg.topic = \"webpage\";\nreturn [msg, msg2];","outputs":2,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":200,"wires":[["55bc2d5b6df187ec"],["548915f2e16385b1"]]}]